* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Lustria', serif;
    font-weight: 500;
}

a {
    color: var(--textColor);
}
html {
    font-size: max(1vw,1em);
    scroll-behavior: smooth;
}

body {
    position: relative;
    // padding: 0 15%;
    width: 100%;
    color: var(--textColor);
    background-color: var(--bgColor);
    overflow-x: hidden;
}

.theme {
    position: fixed;
    padding: max(1.5vw,1.5em);
    width: max(17vw, 17em);
    height: max(20vw,20em);
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #323844;
    border-radius: max(1vw,1em);
    display: none;
    align-items: flex-start;
    flex-direction: column;
    z-index: 200;

    button {
        position: absolute;
        background: none;
        border: none;
        top: max(.5vw,.5em);
        right: max(1vw,1em);
        font-size: max(2vw,2em);
        font-weight: 1000;
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    h1 {
        color: var(--color);
    }

    div {
        margin-left: max(1vw,1em);
        margin-top: max(1vw,1em);
        display: flex;

        p {
            margin-top: max(.5vw,.5em);
            font-family: 'Inconsolata', monospace;
            font-size: max(.7vw,.7em);
        }
        input {
            width: max(2.5vw,2.5em);
            height: max(2vw,2em);
            text-align: center;
            margin-right: max(.3vw,.3em);
            background: #22242c;
            color: #fff;
            font-size: max(.7vw,.7em);
        }
    }
}