:root {
    --bgColor: #19152a; //#1a1a21;  //#1e1a32; //#1e1f23; //#131415;//#0f0f0f;
    --cardColor: #373737;
    --textColor: #fff;
    --logoColor: #2beef5;
    --color: #00bcc2;
    --navColor: #323232;

    --contact-input: #00001d;
}